.atoz-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .atoz-container span {
    margin-right: 10px;
  }
  
  .atoz-container a {
    text-decoration: none;
    font-weight: bold;
  }
